@model InventoryManagementSystem.Models.Supplier

@{
    ViewData["Title"] = "Create Supplier";
}

<h3>Create New Supplier</h3>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Country" class="form-label"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ContactInfo" class="form-label"></label>
        <input asp-for="ContactInfo" class="form-control" />
        <span asp-validation-for="ContactInfo" class="text-danger"></span>
    </div>

   <div class="mb-4">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
   </div>
</form>
